[submodule "proyectosAngular/primerIonic"]
	path = proyectosAngular/primerIonic
	url = /Users/Dev2/Documents/CursoIonic/proyectosAngular/primerIonic
[submodule "proyectoIonic/primerIonic"]
	path = proyectoIonic/primerIonic
	url = /Users/Dev2/Documents/CursoIonic/proyectoIonic/primerIonic
[submodule "proyectosAngular/primerAngular"]
	path = proyectosAngular/primerAngular
	url = /Users/Dev2/Documents/CursoIonic/proyectosAngular/primerAngular
[submodule "nuevoIonic/primerIonic"]
	path = nuevoIonic/primerIonic
	url = /Users/Dev2/Documents/CursoIonic/nuevoIonic/primerIonic
